.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Flip on the X axis */
.flip-horizontal {
  --transform-scale-x: -1;
}

/* Flip on the Y axis */
.flip-vertical {
  --transform-scale-y: -1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

=======
>>>>>>> 16a40c830bd796d9f90da6241fc3dbc8a7e116ea
@font-face {
  font-family: 'Ade';
  src: url('./components/assets/Ade-Display.otf');
}

@font-face {
  font-family: 'Lato';
  src: url('./components/assets/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Atyp';
  src: url('./components/assets/AtypText-Medium.eot')
}